footer {
  background: #bcddfe;
  padding: 50px 0px;
  margin-top: 80px;
}

.footer__top {
  display: flex;

  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  row-gap: 50px;
  ul {
    width: 24%;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  padding-bottom: 50px !important;
  border-bottom: 1px solid white;
}

.footer__bottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 50px !important;
}

@media (max-width: 1000px) {
  .footer__top {
    ul {
      width: 45%;
    }
  }
}
@media (max-width: 540px) {
  .footer__top {
    ul {
      width: 100%;
    }
  }
  .footer__bottom{
    padding-bottom: 100px !important;
  }
}
@media (max-width: 400px) {
    .footer__bottom{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
}